# Dependencies
node_modules/
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/

# Build outputs
frontend/dist/
*.egg-info/
dist/
build/

# Environment
.env
.env.local
.env.production

# Editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# AWS / EB
.elasticbeanstalk/
.aws/

# Vite
frontend/.vite/
.vercel
